{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Good Game Quiz
{% endblock %}

{% block body %}
	<main class="container text-center">
		<img src="{{ asset('build/images/ggquiz-logo.png') }}" alt="Good Game Quizz">
		<h1>Bienvenue sur GG Quiz</h1>
		<h2>Jouez, Gagnez, Recommencez !</h2>
		<a href="{{ path('app_question') }}">
			<button class="btn btn-primary">JOUER</button>
		</a>
	</main>
{% endblock %}
