{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Good Game Quiz
{% endblock %}

{% block body %}
	<header>
		<img src="{{ asset('build/images/ggquiz-logo.png') }}" alt="Good Game Quizz">
	</header>
	<main class="container text-center">
		<h1>Bienvenue sur GG Quiz</h1>
		<h2>Jouez, Gagnez, Recommencez !</h2>
		<a href="{{ path('app_login') }}">
			<button class="btn btn-primary">JOUER</button>
		</a>
		<a href="{{ path('app_question') }}">
			<button class="btn btn-primary">QUESTION</button>
		</a>
		<a href="{{ path('app_quiz') }}">
			<button class="btn btn-primary">QUIZ</button>
		</a>
	</main>
	<footer>
		<a href="#">admin</a>
	</footer>
{% endblock %}
