{% extends 'base.html.twig' %}

{% block title %}Question
{% endblock %}

{% block header %}
	{% include '_navbar.html.twig' %}
{% endblock %}

{% block body %}
	<main class="container-fluid p-0 text-center">
		<h1>Question</h1>
		<div class="row colored-options justify-content-center m-auto">
			<div class="col-12 col-lg-5 option blue"></div>
			<div class="col-12 col-lg-5 option red"></div>
			<div class="col-12 col-lg-5 option green"></div>
			<div class="col-12 col-lg-5 option yellow"></div>
		</div>
	</main>
{% endblock %}
