{% extends 'base.html.twig' %}

{% block title %}Nouvelle question
{% endblock %}

{% block header %}
	{% include '_navbar.html.twig' %}
{% endblock %}

{% block body %}
	<main class="container question-form">
		<h1>Nouvelle question</h1>
		<div class="row">
			<div class="col">


				{{ include('question/_form.html.twig') }}
			</div>
		</div>

		<a href="{{ path('app_question_index') }}">back to list</a>
	{% endblock %}
