// customize some Bootstrap variables
$primary: #6949ff;
$secondary: #c3b6ff;
$success: #12d18e;
$danger: #f75555;
$light: #f0edff;
$dark: #212121;

$blueOption: #3779ff;
$blueOptionStrong: #295ecc;
$redOption: #f75555;
$redOptionStrong: #ea1e61;
$greenOption: #12d18e;
$greenOptionStrong: #00b777;
$yellowOption: #ff981f;
$yellowOptionStrong: #f48400;

$darkenDanger: darken(#f75555, 20);
$darkenSuccess: darken(#12d18e, 20);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@300&display=swap');

body {
    background-color: $light;
    color: $dark;
    margin: 0;
    padding: 0;
    text-align: center;
    font: 300 Itim;
}

h1 {
    font-size: 2em;
    margin: 1em;
}

h2 {
    font-size: 1.5em;
    color: $primary;
    margin: 0.5em;
}

p {
    font-size: 1em;
    margin: 0.5em;
}

.btn {
    font-size: 2em;
    margin: 1em;
    box-shadow: $secondary 0.1em 0.1em;
    border-radius: 0.5em;
}

.colored-options {
    column-gap: 1em;
    row-gap: 1em;
    max-width: 75%;
}

.option {
    border-radius: 0.5em;
    padding: 0;
    font-size: 2em;
    color: $light;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option.blue {
    background-color: $blueOption;
    box-shadow: $blueOptionStrong 0.2em 0.2em;
}

.option.red {
    background-color: $redOption;
    box-shadow: $redOptionStrong 0.2em 0.2em;
}

.option.green {
    background-color: $greenOption;
    box-shadow: $greenOptionStrong 0.2em 0.2em;
}

.option.yellow {
    background-color: $yellowOption;
    box-shadow: $yellowOptionStrong 0.2em 0.2em;
}

.option.wrong {
    background-color: $danger;
    box-shadow: $darkenDanger 0.2em 0.2em;
}

.option.correct {
    background-color: $success;
    box-shadow: $darkenSuccess 0.2em 0.2em;
}

.quiz-cover {
    max-width: 50vw;
    max-width: 320px;
    margin: 1em;
}

.logout-picto {
    color: $primary;
}

.security-form {
    position: relative;
    top: 80px;
    max-width: 320px;
}

.ggq-logo {
    height: 200px;
}

.pseudo {
    color: $danger;
}

.quiz-question {
    position: relative;
    top: 80px;
}

.quizz-picture {
    max-width: 75%;
    margin-top: 0;
    margin-bottom: 2em;
}

.question-picture {
    max-width: 360px;
    max-width: 50vw;
    margin-top: 0;
    margin-bottom: 2em;
}

.result-picture {
    max-width: 360px;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 2em;
}

.quiz-page {
    position: relative;
    top: 80px;
}

.quiz-pagination {
    color: $primary;
    margin-top: 2em;
    margin-bottom: 0;
    font-weight: bold;
}

.question-form {
    position: relative;
    top: 80px;
    width: 75%;
    max-width: 480px;
}

.admin-pages {
    position: relative;
    top: 80px;
    width: 75%;
    max-width: 800px;
}