<form method="post" action="{{ path('app_quiz_delete', {'id': quiz.id}) }}" onsubmit="return confirm('Voulez-vous vraimment supprimer ce quiz ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quiz.id) }}">
	<button class="btn btn-secondary" type="submit">{{ button_label|default('Supprimer') }}</button>
</form>
