{% extends 'base.html.twig' %}

{% block title %}Nouveau Quiz
{% endblock %}

{% block header %}
	{% include '_navbar.html.twig' %}
{% endblock %}

{% block body %}
	<main class="admin-pages m-auto">
		<h1>Nouveau Quiz</h1>
		<div class="row">
			<div class="col">
				{{ include('quiz/_form.html.twig') }}
			</div>
		</div>
		<a href="{{ path('app_quiz_index') }}">Tous les Quizzes</a>
		<p>
			<a href="{{ path('app_admin') }}">Administration</a>
		</p>
	</main>
{% endblock %}
